{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@emotion/babel-preset-css-prop"],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator",
        "import-graphql",
        ["module-resolver", {
            "alias": {
                "modules": "./src/client/modules",
                "context": "./src/client/context",
                "common": "./src/client/common"
            }
        }]
    ]
}